/* Coolors Exported Palette - https://coolors.co/6bc4fe-07101a-495d74-edeffd-050e19-0e1c2d */

/* CSS HEX
--maya-blue: #6bc4feff;
--rich-black: #07101aff;
--paynes-gray: #495d74ff;
--magnolia: #edeffdff;
--rich-black-2: #050e19ff;
--oxford-blue: #0e1c2dff;



 CSS HSL
--maya-blue: hsla(204, 99%, 71%, 1);
--rich-black: hsla(212, 58%, 6%, 1);
--paynes-gray: hsla(212, 23%, 37%, 1);
--magnolia: hsla(233, 80%, 96%, 1);
--rich-black-2: hsla(213, 67%, 6%, 1);
--oxford-blue: hsla(213, 53%, 12%, 1);

*/

 */
/* SCSS HEX */
$maya-blue: #6bc4feff;
$rich-black: #07101aff;
$paynes-gray: #495d74ff;
$magnolia: #edeffdff;
$rich-black-2: #050e19ff;
$oxford-blue: #0e1c2dff;

/* SCSS HSL */
$maya-blue: hsla(204, 99%, 71%, 1);
$rich-black: hsla(212, 58%, 6%, 1);
$paynes-gray: hsla(212, 23%, 37%, 1);
$magnolia: hsla(233, 80%, 96%, 1);
$rich-black-2: hsla(213, 67%, 6%, 1);
$oxford-blue: hsla(213, 53%, 12%, 1);

/* SCSS RGB */
$maya-blue: rgba(107, 196, 254, 1);
$rich-black: rgba(7, 16, 26, 1);
$paynes-gray: rgba(73, 93, 116, 1);
$magnolia: rgba(237, 239, 253, 1);
$rich-black-2: rgba(5, 14, 25, 1);
$oxford-blue: rgba(14, 28, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-right: linear-gradient(90deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-bottom: linear-gradient(180deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-left: linear-gradient(270deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-top-right: linear-gradient(45deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-bottom-right: linear-gradient(135deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-top-left: linear-gradient(225deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-bottom-left: linear-gradient(315deg, #6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);
$gradient-radial: radial-gradient(#6bc4feff, #07101aff, #495d74ff, #edeffdff, #050e19ff, #0e1c2dff);